<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/vel.css}">
</head>
<body>
<form action="sss" class="av">
ID:<input type="text" name="id">
<br>
<br>
Name:<input type="text" name="name">
<br>
<br>
Email:<input type="text" name="email">
<br>
<br>
<input type="submit" >
</form>
<br>
<h1>READ</h1>
<form action="rel">
ID:<input type="text" name="id">
<br>
<br>
<input type="submit" value="Read">
</form>
<h1>Delete</h1>
<form action="re">
ID:<input type="text" name="id">
<br>
<br>
<input type="submit" value="Delete">
</form>
<h1>Edit</h1>
<form action="rs">
ID:<input type="text" name="id">
<br>
<br>
<input type="submit" value="Edit">
</form>


</body>
</html>